<div class="container" style="margin-top: 50px;">
    <h1>User Details</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="./images/{{profile.image}}" class="avatar img-circle" alt="avatar" id="avatar">

                <a class="btn btn-outline-info" href="./avatar?action=updateAvatar">Update Avatar</a>

                <br>
                <p><strong>User Name</strong>: {{user.username}}</p>
                <p><strong>Real Name</strong>: {{user.realName}}</p>
                <p><strong>Email</strong>: {{user.email}}</p>
                <p><strong>Date of Birth</strong>: {{user.dob}}</p>
                <p><strong>About yourself</strong>: {{user.description}}</p>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            {{! Display a message if one was provided. }}
            {{#if message}}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {{/if}}


            <form action="./account" method="POST" class=="form-horizontal" style="margin-bottom: 200px;">

                <p class="h4 mb-4">Update your account information</p>
                <div class="flex-col mb">
                    <label for="txtUsername">Username:</label>
                    <input class="form-control mb-4" type="text" name="username" id="txtUsername"
                        value="{{user.username}}">

                </div>

                <div class="flex-col mb">
                    <label for="txtPassword">Password:</label>
                    <input class="form-control mb-4" type="password" name="password" id="txtPassword"
                        value="{{user.password}}">
                </div>

                <div class="flex-col mb">
                    <label for="txtName">Re-enter Password:</label>
                    <input class="form-control mb-4" type="password" name="rePassword" id="txtRePassword">
                </div>

                <div class="flex-col mb">
                    <label for="txtRealName">Real Name:<span id="user-details-realName"></span></label>
                    <input class="form-control mb-4" type="text" name="realName" id="realName"
                        value="{{user.realName}}">
                </div>

                <div class="flex-col mb">
                    <label for="txtEmailAdd">Email:<span id="user-details-email"></span></label>
                    <input class="form-control mb-4" type="text" name="email" id="email" value="{{user.email}}">
                </div>

                <div class="flex-col mb">
                    <label for="txtDoB">Date of Birth:<span id="user-details-dob"></span></label>
                    <input class="form-control mb-4" type="date" name="dob" id="dob" value="{{user.dob}}">
                </div>

                <div class="flex-col mb">
                    <label for="txtDescription">About yourself:<span id="user-details-description"></span></label>
                    <input class="form-control mb-4" type="text" name="description" id="description"
                        value="{{user.description}}">
                </div>

                <div class="flex-row justify-sb align-center">
                    <button class="btn btn-outline-info" type="submit" name="saveChanges">Save Changes</button>
                    <a role="button" class="btn btn-outline-danger mr-4" href="./deleteAccount">Delete Account</a>

                </div>

            </form>
        </div>
    </div>
</div>