<div class="container">

  {{! Display a message if one was provided. }}
  {{#if message}}
  <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
  </div>
  {{/if}}


  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        {{#each allArticles}}
        <h1 style="margin-top: 80px">{{this.title}}</h1>
        <h6>{{this.date}}</h6>
        <p>{{{this.content}}}<p>
            <button type="button" class="btn btn-secondary" data-toggle="modal"
              data-target="#exampleModal">Comment</button>

            <!-- Modal -->
            <div class="modal fade 	" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog mw-100 w-75" role="document">
                <div class="modal-content">
                  <div class="modal-header">

                    <div class="container">


                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">{{datatime}}</p>
                            </div>
                            <div class="col-md-10">
                              <p>
                                <a class="float-left"
                                  href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{username}}</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>{{comment.content}}</p>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <h5 class="modal-title" id="exampleModalLabel">Make your comments</h5>
                  <form action="./blog" method="POST">
                    <div class="modal-body">
                      <textarea name="comment" id="" rows="4" style="width:100%"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {{/each}}
      </div>
    </div>
  </div>
</div>