<div class="container">
    <div class="container d-flex justify-content-center" style="margin-top: 50px;">
        <div class="col-md-10 mx-auto">
            <p>You currently have {{totalArticles}} article(s).</p>
            <a href="./addArticles" role="button" class="btn btn-outline-warning">Add Articles</a>
        </div>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-10 mx-auto">

                {{#each userArticle}}
                <section class="card shadow-sm p-3 mb-5 col-md-12 bg-white rounded" data-aos="fade-up">
                <a href="./individualArticle?message={{this.id}}" style="text-decoration: none">
                    <div class="card-header">
                    <h1>{{this.title}}</h1>
                    <h6>Author: {{this.username}}</h6>
                    <h6>{{this.date}}</h6>
                    </div>
                    <div class="card-body">{{{this.content}}}</div>
                </a>
                </section>
                {{/each}}
            </div>
        </div>
    </div>
</div>