<div class="container">

    <div class="container">
        <div class="col-md-10 mx-auto">
        <a href="./addArticles" role="button" class="btn btn-primary">Add Articles</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                {{#each userArticle}}
                {{!-- <h1>{{this.title}}</h1> --}}
                <a href="./individualArticle?message={{this.id}}" style="text-decoration: none "><h1>{{this.title}}</h1>
                <h6>{{this.date}}</h6>
                <p>{{{this.content}}}</p></a>
                {{/each}}
            </div>
        </div>
    </div>
    </div>